@import 'system'

.topMenu
    position fixed
    z-index 600
    top 0px
    left 0px
    right 0px
    background-color primary_color
    display grid
    grid-template-columns 270px 1fr 90px
    grid-template-rows 70px
    align-items center
    justify-content start

    img
        height 60px
        vertical-align middle

    a 
       color  default_color
       text-decoration none
       margin-left 20px

    a:hover
        color #FFFFFF
